<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Toggl Track Companion{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">Toggl Track Companion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {#
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ session.user_id }}</a>
                    </li>#}
                    
                </ul>
                {% if 'user_id' in session %}
                
                <ul class="navbar-nav me-3">
                    <li class="nav-item">
                        <a class="nav-link active d-inline" href="{{ url_for('profile') }}" tabindex="-1" aria-disabled="true">{{ session.user_name }}</a>
                    </li>
                </ul>
                <form class="d-flex" method="post" action="{{ url_for('logout') }}">
                    <button type="submit" class="btn btn-outline-success">Logout</button>
                </form>
                {% endif %}
                </div>
            </div>
        </nav>
        <main class="container">
            {% block content %} {% endblock %}
        </main>
        <footer>
            <div class="container d-flex text-muted justify-content-evenly">
                <span>&copy {{ now.year }} Jan Dittrich</span>
                <span>Version <code class="text-muted">{{ version.VERSION }} ({{ version.COMMIT }})</code></span>
                <span><a href="https://github.com/jan-di/toggl-track-companion">Source on GitHub</a></span>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
