{% extends 'base.html.j2' %}

{% block content %}

<h1>Profile</h1>

<p>{{ user.name }}<br/>
{{ user.email }}</p>
<img src="{{ user.image_url }}" />

<h2>Workspaces</h2>

{% for user_workspace in user.workspaces %}
    <h3>{{ user_workspace.workspace.organization.name }} > {{ user_workspace.workspace.name }}</h3>
{% endfor %}

{% endblock content %}