<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    {% if 'user_id' in session %}<p>Logged in as user {{ session.user_id }}. <a href="{{ url_for('route_logout') }}">Logout</a>.</p>{% endif %}
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
