@font-face {
    font-family: 'Kreon Light';
    src: url(font/kreon-light.woff2);
}

.nav {
    --bs-nav-link-color: #8800ff;
}

nav .navbar-brand {
    font-family: 'Kreon Light';
}

:root {
    --bs-link-color: #8800ff;
    --bs-link-hover-color: #520099;
}

.btn-primary {
    --bs-btn-bg: #8800ff;
    --bs-btn-border-color: #7a00e6;
    --bs-btn-hover-bg: #520099;
    --bs-btn-hover-border-color: #440080;
    --bs-btn-active-bg: #520099;
    --bs-btn-active-border-color: #440080;
}

.btn-outline-primary {
    --bs-btn-color: #8800ff;
    --bs-btn-border-color: #8800ff;
    --bs-btn-hover-bg: #8800ff;
    --bs-btn-hover-border-color: #8800ff;
    --bs-btn-active-bg: #8800ff;
    --bs-btn-active-border-color: #8800ff;
    --bs-btn-disabled-color: #8800ff;
    --bs-btn-disabled-border-color: #8800ff;
}

html {
    position: relative;
    min-height: 100%;
}

nav.navbar .btn-outline-primary {
    --bs-btn-bg: #1c1f23;
}

.logo {
    width: 2em;
}

a {
    text-decoration: none;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

form.login {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: auto;
  }